@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-netflix-black text-netflix-white antialiased font-sans selection:bg-netflix-red selection:text-white;
    overflow-x: hidden;
  }
}

/* Custom Scrollbars for Netflix Aesthetic Horizontal Rows */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #E50914;
}
